/* HomePage.css */

/* Ensure the background spans the entire viewport */
.fullPageContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;  /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    font-family: 'Arial, sans-serif';
}

/* Smooth Color Transition Background */
.backgroundAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(0, 36, 79, 1), rgba(0, 54, 99, 1));
    z-index: -1;
    animation: colorTransition 10s ease infinite alternate; /* Changed animation */
}

@keyframes colorTransition {
    0% { background: linear-gradient(120deg, rgba(0, 36, 79, 1), rgba(0, 54, 99, 1)); }
    50% { background: linear-gradient(120deg, rgba(0, 54, 99, 1), rgba(0, 36, 79, 1)); }
    100% { background: linear-gradient(120deg, rgba(0, 36, 79, 1), rgba(0, 54, 99, 1)); }
}

/* Centered Content Section */
.contentSection {
    position: fixed;  /* Fixed positioning */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateY(-15%); /* Move content up by 10% of its height */
}


/* Hero Section */
.heroSection {
    margin-bottom: 20px; /* Reduced margin */
}

.heroTitle {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 15px;
    color: white; /* Gold color */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

.heroSubtitle {
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}

/* Cards Container */
.cardsContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.infoCard {
    background: rgba(0, 54, 99, 0.9);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.infoCard:hover {
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px);
}

.infoCard h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
}

.infoCard p {
    font-size: 16px;
    line-height: 1.5;
}
